.nav-item{
font-size:1rem;
text-transform:capitalize;
font-weight:200
}
.navbar-light .navbar-nav .nav-link{
color: #999;
}
.navbar-light .navbar-nav .nav-link:hover{
color:black;
}
.center{
display:flex;
align-item:center;
justify-content:center;
}
nav{
display:flex;
align-item:center;
justify-content:center;
}
.center > p{
color : #f4a22c
}


/** category **/
.row-class-1{
padding-top:2rem;
}
.row-class-1 .mx-auto{
color:black;
font-size:1.5rem;
}

.cat-image{
weight:auto;
height:200px;
}

.card-a{
text-decoration: none !important; }

.text-justify{
text-align: center;
color: #888;
font-weight:200;
}
.h-justify{
text-align: center;
color: #999;
font-weight:400;
}



/* product */

.h-product{
color:#999;
font-weight:200;
text-align:left;
}

.h-price{
color:#888;
font-weight:400;
text-align:left;
}

.h-desc{
color:#777;
font-weight:200;
text-align:left;
text-decoration:underline;
}
.h-descp{
color:#888;
font-weight:200;
text-align:left;
}