{% extends 'base.html' %}  <!-- Extend the 'base.html' template -->

{% load static %}  <!-- Load the static template tags for serving static files -->

{% block metadescription %}  <!-- Define the block for meta description -->
Your Cart...
{% endblock %}  <!-- End the block for meta description -->

{% block title %}
cart
{% endblock %}

{% block content %}  <!-- Define the block for the main content -->
{% if not cart_items %}
<div>
    <div class="text-center">
        <h3 class="text-center m-5">
            Your Cart is Empty...
        </h3>
        <p class="text-center">
            Please click <a href="{% url 'ecom:ProCat' %}">Here</a> to continue shopping...
        </p>
    </div>
</div>
<div>
    <div class="text-center">
        <h3 class="text-center m-3">
            Your Shopping cart
        </h3>
    </div>
    <div class="row mx-auto">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th colspan="5">
                        Items
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    <td>
                        <a href="{{ cart_item.product.get_absolute_url }}">

                            <img alt="{{cart_item.product.name}}"
                                 class="img-thumbnail float-left rounded"
                                 src="{{cart_item.product.img.url}}">
                        </a>
                    </td>
                    <td class="text-left">
                        {{cart_item.product.name}}
                        ABC:{{cart_item.product.id}}
                        Price: $ {{cart_item.product.price}}
                        <!--                        Qty: {{cart_item.product.quantity}} x {{cart_item.product.price}}-->
                        Qty: {{ cart_item.quantity }} x ${{ cart_item.product.price }}

                    </td>
                    <td>
                        $ {{cart_item.sub_total}}
                    </td>
                    {% if cart_item.quantity < cart_item.product.stock %}
                    <td>
                        <a href="{% url 'cart:add_cart' cart_item.product.id %}"><i class="fa fa-plus"></i></a>
                        <a href="{% url 'cart:add_cart' cart_item.product.id %}"><i class="fa fa-minus"></i></a>
                        <a href="{% url 'cart:add_cart' cart_item.product.id %}"><i class="fa fa-trash"></i></a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{% url 'cart:add_cart' cart_item.product.id %}"><i class="fa fa-minus"></i></a>
                        <a href="{% url 'cart:add_cart' cart_item.product.id %}"><i class="fa fa-trash"></i></a>

                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        Checkout !
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        please review shopping experiance!
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="mx-auto">
                <a class="btn btn-secondary" href="{% url 'ecom:ProCat' %}">Continue</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}