{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
{% if category %}
{{ category.desc | truncatewords:155 }}
{% else %}
ABC Store.
{% endif %}
{% endblock %}

{% block title %}
{% if category %}
{{ category.name }}
{% else %}
Something Else
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            {% if category %}
            <a href="{% url 'ecom:ProCat' %}" class="btn btn-link">Category</a>
            <img alt="{{ category.name }}" class="img-fluid cat-image" src="{{ category.img.url }}">
            <h2 class="text-center title-1">{{ category.name }}</h2>
            <p class="text-justify">{{ category.desc }}</p>
            {% else %}
            <img src="{% static 'img/banner.jpeg' %}" class="img-fluid" width="100%">
            <h3 class="text-center title-1">Products</h3>
            <p class="text-justify">
                {{ category.name }}123
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nibh
                at sem vulputate semper eget vel
                justo. Aliquam eleifend est vitae tristique commodo. Proin erat est,
                pulvinar quis fringilla sit amet,
            </p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img alt="{{ product.name }}" class="card-img-top" src="{{ product.img.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ product.desc }}</li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-primary" href="{{ product.get_url }}">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
