<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown {% if 'ecom' in request.path %} active {% endif %}">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   id="navbarDropdown" role="button">
                    Shop
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'ecom:ProCat' %}">All Products</a>
                    {% for cat in links %}
                    <a class="dropdown-item" href="{{ cat.get_url }}">{{ cat.name }}</a>
                    {% endfor %}
                </div>
            </li>
            {%if item_count > 0 %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="fa-solid fa-cart-shopping"></i>
                    ({{item_count}})</a>
            </li>
            {% endif %}
        </ul>
        <form action="{% url 'searchapp:searchResult' %}" class="d-flex" method="get">
            {% csrf_token %}
            <input class="form-control me-2" name="q" placeholder="Search" type="search">
            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</nav>
