{% extends 'base.html' %}  <!-- Extend the 'base.html' template -->

{% load static %}  <!-- Load the static template tags for serving static files -->

{% block metadescription %}  <!-- Define the block for meta description -->
{{ product.desc|truncatewords:155 }}  <!-- Display a truncated product description as the meta description -->
{% endblock %}  <!-- End the block for meta description -->

{% block title %}
{% if category %}
{{ product.name }}
{% endif %}
{% endblock %}  <!-- End the block for the page title -->

{% block content %}  <!-- Define the block for the main content -->

<div class="container-fluid m-0">
    <div class="row m-3">
        <div class="col-md-6">
            <img alt="{{ product.name }}" class="img-fluid" src="{{ product.img.url }}">
            <!-- Display the product image -->
        </div>
        <div class="col-md-6">
            <h3 class="h-product mb-2">{{ product.name }}</h3>  <!-- Display the product name -->
            <h6 class="h-price mb-3">$ {{ product.price }}</h6>  <!-- Display the product price -->

            <h6 class="h-desc">Description</h6>
            <p class="h-descp">{{ product.desc }}</p>  <!-- Display the product description -->

            {% if product.stock <= 0 %}  <!-- Check if the product is out of stock -->
            <h5>Out of Stock</h5>  <!-- Display an "Out of Stock" message -->
            {% else %}
            <a class="btn btn-primary" href="#">Add to Cart</a>  <!-- Display an "Add to Cart" button -->
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}  <!-- End the block for the main content -->
